body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
}

.weatherform{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid hsl(0,0%,20%,0.3 );
    margin: 10px;
    border-radius: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px,20px;
    font-size: 2rem;
    font-weight: bold;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(54, 238, 183);
    color: rgb(242, 238, 233);
}
button[type="submit"]:hover{
    background-color: rgb(10, 184, 137);

}
.card{
    background: linear-gradient(180deg,hwb(169 31% 22%),hsl(289, 40%, 45%));
    padding: 50px;
    box-shadow: 2px 2px 5px rgb(52, 49, 49);
    min-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.tempDisplay, .cityDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: rgb(35, 31, 31);
}
.humitityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(22, 11, 11, 0.581);
}