body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
}

h1{
    font-size: 3.5rem;
    color: rgb(40, 23, 23);
}

#choices{
    margin-bottom: 50px;
}

#choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 15px;
    border-radius: 300px;
    background-color: aqua;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#choices button:hover{
    background-color: rgb(61, 147, 118);
}

#playerDisplay , #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 2rem;
}
.green,#playerScore{
    color: green;
}
.red,#computerScore{
    color: red;
}