body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(144, 108, 64);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    max-width: 500px;
    border-radius: 15px;
    overflow: hidden;
}
#Display{
    width: 100%;
    padding: 25px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color: rgb(81, 73, 73);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;

}

button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(29, 25, 25, 0.595);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
button:hover{
 background-color:  rgba(92, 83, 83, 0.595);   
}
button:active{
   background-color:  rgba(140, 135, 135, 0.595);
}

.opt_btn{
    background-color: blue;
}
.opt_btn:hover{
}
.opt_btn:active{
        background-color: rgb(98, 98, 167);
    background-color: rgb(139, 139, 207);
}